<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mpmanage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@mipmap/mppro"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/mppro"
        android:supportsRtl="true"
        android:theme="@style/Theme.MPManage"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity android:name=".Activity.UpdateCaSiActivity" />
        <activity android:name=".Activity.UpdateSingerActivity" />
        <activity android:name=".Activity.UpdateAlbumActivity" />
        <activity android:name=".Activity.UpdatePlaylistActivity" />
        <activity android:name=".Activity.UpdateCategoryActivity" />
        <activity android:name=".Activity.UpdateBannerActivity" />
        <activity android:name=".Activity.InfoSongActivity" />
        <activity android:name=".Activity.AddSongActivity" />
        <activity android:name=".Activity.UpdateSongActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MainActivity">

        </activity>
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>